@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://unpkg.com/docsify/lib/themes/vue.css');

* {
  font-family: 'Roboto', sans-serif;
}

h1 *, h2 *, h3 *, h4 *, h5 * {
  font-family: 'Montserrat', sans-serif;
}

.sidebar {
  padding: 40px 20px 0;
  background-color: #F5F5F5;
}

.sidebar > h1 {
  text-align: left;
} 

.sidebar ul {
  margin: 0;
}

.sidebar ul li a {
  font-weight: 500;
  color: #404659;
}

.sidebar ul li.active > a {
  color: #FF6D00;
}

.sidebar-nav {
  margin-top: 40px;
}

.markdown-section a {
  color: #FF6D00;
}

.anchor span {
  color: #404659;
}

.sidebar-toggle {
  background-color: #F5F5F5;
}

.sidebar-toggle span {
  background-color: #FF6D00;
}

a.app-name-link img {
  width: 175px;
}

.language-nav {
  display: block !important;
  margin: 10px 60px 0 0 !important;

  position: absolute;
  top: 0;
  right: 40px;
  z-index: 1000;
  min-width: 130px;

  border: 1px solid #404659;
  border-radius: 4px;
  padding: 10px 15px;
  background-color: #fff;
}

.language-nav-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.language-nav-head-text {
  font-size: 14px;
  text-transform: uppercase;
} 

.language-nav-head-icon {
  border: solid #404659;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.language-nav-main {
  position: absolute;
  left: 0;
  top: 36px;
  display: none;
}

.language-nav-main.is-open {
  display: block;
}

.language-nav-main-list {
  display: block;
  padding: 0;
  margin: 0;
  border: 1px solid #404659;
  background: #fff;
  text-align: left;
}

.language-nav-main-list-item {
  border-top: 1px solid #404659;
  padding: 5px 10px !important;
  margin: 0 !important;  
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.language-nav-main-list-item:hover {
  background-color: #404659;
  color: #fff;
}

.content {
  overflow-y: auto !important;
  margin-top: 60px !important;
  padding-top: 0 !important;
}